.header__subtitle {
  display: flex;
  margin: 0;
  align-content: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}
